.firstNameLogo {
  color: #fff;
  font-family: 'Playball', cursive;
  font-size: 1.4em;
  padding: 0 10px;
  font-weight: normal;
}
.secondNameLogo {
  font-family: 'Playball', cursive;
  color:#0085FF;
}