.wrapperProductDetail {
  display: flex;
  justify-content: space-around;
}
.informationClients {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 1.4em;
}
.wrapperImage {
  width: 50%;
  text-align: center;
}
.productImage {
  width: 100%;
} 
.productInfo {
  width: 40%;
}
.price {
  text-align: right;
}
.wrapperButton {
  margin-top: 70px;
  text-align: right;
}

.custom-tooltip {
  background-color: white;
  padding: 5px;
}