.wrapperProductDetail {
  display: flex;
  justify-content: space-around;
}
.informationClients {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.wrapperImage {
  width: 50%;
  text-align: center;
}
.productImage {
  width: 100%;
} 
.productInfo {
  width: 40%;
}
.offPrice {
  color: red;
  font-weight: normal;
  font-size: .8em;
}
.price {
  text-align: right;
}
.wrapperButton {
  margin-top: 20px;
  text-align: right;
  /* background: #000; */
}